.order-summary-container {
  color: #f4e4c6;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.order-details-container {
  background-color: #8b1e1e;
  padding: 20px;
}

.checkout-section {
  font-size: 1.5em;
  padding: 20px;
  text-align: left;
  color: #f4e4c6;
  font-family: 'Arial', sans-serif;
}

.checkout-title {
  font-size: 2.5em;
  margin-bottom: 10px;
  position: relative;
  left: 10px; /* Adjust if you need to move it horizontally */
}

.order-details {
  background-color: #b34d4d;
  padding: 20px;
  border-radius: 8px;
  border: 3px solid #f4e4c6; /* Add an outline using border */
}

.order-heading {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.order-table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

.order-table th,
.order-table td {
  text-align: left;
  padding: 8px 10px;
  border-bottom: 1px solid #f4e4c6;
}

.order-summary {
  margin-top: 30px;
  text-align: right; /* Aligns text inside the container */
  width: 100%; /* Ensure it takes full width of its parent */
}

.summary-item {
  display: flex;
  justify-content: flex-end; /* Aligns the content inside to the right */
  margin: 8px 0;
}

.grand-total {
  font-weight: bold;
  font-size: 1.2em;
}

.order-actions {
  margin-top: 20px;
}

.btn-delivery,
.btn-pickup,
.btn-cancel-order {
  background-color: #d9a52e;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 1em;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.btn-delivery:hover,
.btn-pickup:hover,
.btn-cancel-order:hover {
  background-color: #bf9028;
}
